<form action = "/payment/results">
  <label for="g"> APR</label>

  <input id = "g" type="text" name="users_apr">

    <label for="n"> Number of years</label>

  <input id = "n" type="text" name="users_yr">

      <label for="p"> Principal</label>

  <input id = "p" type="text" name="users_p">

  <button>Calculate monthly payment</button>

</form>
