<form action = "/random/results">
  <label for="a"> Minimum</label>

  <input id = "a" type="text" name="users_min">

    <label for="b"> Maximum</label>

  <input id = "b" type="text" name="users_max">


  <button>Pick random number</button>

</form>
